/* reset */
*{margin:0;padding:0;box-sizing:border-box}
h1,h2{text-wrap:balance;font-weight:normal;font-style:italic;margin:0.35rem 0 0.5rem}
h1{font-size:2rem}h2{font-size:1.7rem}a,u{text-decoration:none}
p{text-wrap:pretty;line-height:1.5;margin:1rem 0}
img{max-width:100%;object-fit:cover}
html{font-family:system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",
  Roboto,Oxygen,Ubuntu Cantarell,"Open Sans","Helvetica Neue",sans-serif}
body{font-size:17px;padding:0 1rem}p{font-size:1rem}
body:not(.morning,.day,.evening,.night){--fg:#fff;--bg:#161618;color-scheme:dark}
body.morning{--fg: }
body.day{--fg: }
body.evening{--fg:#fff;--bg:#161618;color-scheme:dark}
body.night{--fg:#fff;--bg:#161618;color-scheme:dark}
body{color:var(--fg);background-color:var(--bg)}
a:hover{text-decoration:underline}img{height:100%;width:100%}
.full-screen{min-height:100vh;min-height:100svh;width:100%}
.text-center{text-align:center}
.center{align-items:center;display:flex;justify-content:center;
  flex-direction:column}
.header{display:flex;flex-direction:column}
.logo{display:flex;flex-direction:row;margin:2rem 0rem}
.logo>.image{max-width:10rem;position:relative;float:left;margin:1rem}